{% extends 'base.html' %}

{% block title %}
All Tags
{% endblock %}

{% block content %}

<h1>All Tags</h1>

        {% with messages = get_flashed_messages() %}
            {% if messages %}

            <div class='mt-2'>
                {% for msg in messages %}
                    <p class='flash-success'>{{msg}}</p>
                {% endfor %}
            </div>

            {% endif %}
        {% endwith %}

<ul class='mt-3'>
    {% for tag in tags %}
        <li> <a href="/tags/{{tag.id}}">{{tag.name}}</a></li>
    {% endfor %}    

</ul>

<a class='btn btn-primary' href="/tags/new">Add New Tag</a>



{% endblock %}
